.page-img-container {
    background: url('img/bild3.jpg');
    background-size: 100%;
    background-position: left top;
    background-repeat: no-repeat;
}
.about-suzy-container {
    display: flex;
    flex-flow: row nowrap;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.suzy-img {
    height: 90%;
    width: 20%;
    border-radius: 50%;
    background: url('img/suzy.jpg');
    background-size: 105%;
    background-position: top left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.suzy-text {
    width: 40%;
    text-align: center;
}

.headline {
    font-size: 150%;
    color: #5a4200;
  }

  .about-info {
      text-align: center;
      margin: 20px 20% 20px 20%;
  }

.start-social-icons-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 50px;
  }

  @media only screen and (max-width:600px) and (orientation: portrait) {
    body {
        font-size: 75%;
      }
      .page-img-container {
        height: 50vh;
        margin: 0px;
      }

      .headline-container {
        height: 10%;
        width: 30%;
        margin-top: 20vh;
      }
      .page-headline {
  font-size: 150%;
  margin-top: 1vh;
}

.about-suzy-container {
    flex-flow: column-reverse;
    height: 60vh;
    margin: 0px;
}
.suzy-text {
    height: 40%;
    width: 80%;
}

.suzy-img {
    height: 150px;
    width: 150px;
}
}

@media only screen and (max-width:600px) and (orientation: landscape) {
    body {
        font-size: 75%;
      }
      .page-img-container {
        height: 90vh;
        margin: 0px;
      }

      .headline-container {
        height: 15%;
        width: 20%;
        margin-top: 70vh;
      }
      .page-headline {
  font-size: 150%;
  margin-top: 1vh;
}

.about-suzy-container {
    flex-flow: column-reverse;
    height: 90vh;
    margin: 0px;
}
.suzy-text {
    height: 40%;
    width: 80%;
}

.suzy-img {
    height: 150px;
    width: 150px;
}
}

@media only screen and (min-width:600px) and (orientation: portrait) {
    body {
        font-size: 75%;
      }
      .page-img-container {
        height: 50vh;
        margin: 0px;
      }

      .headline-container {
        height: 10%;
        width: 30%;
        margin-top: 20vh;
      }
      .page-headline {
  font-size: 150%;
  margin-top: 1vh;
}

.about-suzy-container {
    flex-flow: column-reverse;
    height: 35vh;
    margin: 0px;
}
.suzy-text {
    height: 40%;
    width: 80%;
}

.suzy-img {
    height: 150px;
    width: 150px;
}
}

@media only screen and (min-width:600px) and (orientation: landscape) {
    body {
        font-size: 75%;
      }
      .page-img-container {
        height: 100vh;
        margin: 0px;
      }

      .headline-container {
        height: 10%;
        width: 15%;
        margin-top: 85vh;
      }
      .page-headline {
  font-size: 150%;
  margin-top: 1vh;
}

.about-suzy-container {
    flex-flow: column-reverse;
    height: 100vh;
    margin: 0px;
}
.suzy-text {
    height: 40%;
    width: 80%;
}

.suzy-img {
    height: 150px;
    width: 150px;
}
}

@media only screen and (min-width:768px) and (orientation: portrait) {
    body {
        font-size: 75%;
      }
      .page-img-container {
        height: 50vh;
        margin: 0px;
      }

      .headline-container {
        height: 10%;
        width: 15%;
        margin-top: 25vh;
      }
      .page-headline {
  font-size: 150%;
  margin-top: 1vh;
}

.about-suzy-container {
    flex-flow: column-reverse;
    height: 30vh;
    margin: 0px;
}
.suzy-text {
    height: 40%;
    width: 80%;
}

.suzy-img {
    height: 150px;
    width: 150px;
}
}

@media only screen and (min-width:768px) and (orientation: landscape) {
    body {
        font-size: 75%;
      }
      .page-img-container {
        height: 100vh;
        margin: 0px;
      }

      .headline-container {
        height: 10%;
        width: 15%;
        margin-top: 80vh;
      }
      .page-headline {
  font-size: 150%;
  margin-top: 1vh;
}

.about-suzy-container {
    flex-flow: column-reverse;
    height: 80vh;
    margin: 0px;
}
.suzy-text {
    height: 40%;
    width: 80%;
}

.suzy-img {
    height: 150px;
    width: 150px;
}
}
@media only screen and (min-width:900px) and (orientation: portrait) {
    body {
        font-size: 120%;
      }
      .page-img-container {
        height: 50vh;
        margin: 0px;
      }

      .headline-container {
        height: 20%;
        width: 30%;
        margin-top: 40vh;
      }
      .page-headline {
  font-size: 400%;
  margin-top: 1vh;
}

.about-suzy-container {
    flex-flow: row nowrap;
    height: 30vh;
    margin: 0px;
}
.suzy-text {
    height: 50%;
    width: 40%;
}

.suzy-img {
    height: 200px;
    width: 200px;
}
}
@media only screen and (min-width:900px) and (orientation: landscape) {
    body {
        font-size: 120%;
      }
      .page-img-container {
        height: 90vh;
        margin: 0px;
      }

      .headline-container {
        height: 20%;
        width: 30%;
        margin-top: 65vh;
      }
      .page-headline {
  font-size: 400%;
  margin-top: 1vh;
}

.about-suzy-container {
    flex-flow: row nowrap;
    height: 50vh;
    margin: 0px;
}
.suzy-text {
    height: 50%;
    width: 40%;
}

.suzy-img {
    height: 200px;
    width: 200px;
}
}