.page-img-container {
    background: url('img/bild1.jpg');
    background-size: 100%;
    height: 500px;
    background-position: left bottom;
    background-repeat: no-repeat;
}
/*WEBINAR INFO*/

.webinar-container {
  margin: 10px;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.webinar-img {
  height: 65%;
  width: 40%;
  background: url('img/bild2.jpg');
  background-size: 100%;
  background-position: left bottom;
  margin: auto 10px auto 10px;
  border-radius: 10px;
}

.text-container {
  text-align: center;
  margin: auto 10px auto 10px;
  width: 40%;
}

.headline {
  font-size: 150%;
  color: #5a4200;
}

/*CLASSES INFO*/

.classes-container {
  height: auto;
  box-sizing: content-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.classes {
  height: 33vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
  padding: 20px;
}

.classes:hover {
  cursor: pointer;
  
}
.classes-hover-in {
  animation: classes-hover-in 0.5s ease-in-out forwards;
}
 
@keyframes classes-hover-in {
    to {
        transform: scale(1.1);
    }
  }

  .classes-hover-out {
    animation: classes-hover-out 0.5s ease-in-out forwards;
  }
   
  @keyframes classes-hover-out {
      to {
          transform: scale(1.0);
      }
    }

.class-img-1,
.class-img-2,
.class-img-3 {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: auto 10px auto 10px;
}

.class-img-1 {
  background: url('img/bild3.jpg');
  background-size: 200%;
}

.class-img-2 {
  background: url('img/bild1.jpg');
  background-size: 200%;
}

.class-img-3 {
  background: url('img/bild2.jpg');
  background-size: 200%;
}

.class-info-text {
  height: 100%;
  width: 40%;
}

.class-img-1:hover,
.class-img-2:hover,
.class-img-3:hover {
  cursor: pointer;
}


/*FRÅGOR*/
.questions-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.questions-text {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  width: 50%;
}

.questions-icon {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: linear-gradient(180deg, #a18f4e 0%, #d1a630 100%);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions-icon:hover {
  cursor: pointer;
}

.questions-icon-hover-in {
  animation: question-hover-in 0.5s ease-in-out forwards;
}

@keyframes question-hover-in {
  from {
    border-radius: 50px;
  }
  to {
    border-radius: 10px;
  }
}
.questions-icon-hover-out {
  animation: question-hover-out 0.5s ease-in-out forwards;
}

@keyframes question-hover-out {
  from {
    border-radius: 10px;
  }
  to {
    border-radius: 50px;
  }
}

.fa-at {
  color: white;
  font-size: 200%;
}


@media only screen and (max-width:600px) and (orientation: portrait) {
  body {
    font-size: 75%;
  }
  .page-img-container {
    height: 50vh;
  }
  /*SVART BAKGRUND SIDRUBRIK */
.headline-container {
  height: 10%;
  width: 30%;
  background: rgba(0, 0, 0, 0.46);
  border-radius: 4px;
  padding-top: 1vh;
  z-index: 1;
  margin-bottom: 10px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-headline {
  font-size: 150%;
  margin-top: 1vh;
}
.webinar-container {
  height: auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.webinar-img {
  width: 80vw;
  height: 30vh;
  margin: 2vh;
}
.text-container {
  width: 100%;
  padding: 1vh;
}
.classes-container {
  margin: 1vh;
}
.classes {
  flex-flow: column nowrap;
  height: auto;
  margin: 2vh;
}

.class-info-text {
  width: 100%;
  text-align: center;
  margin-top: 3vh;
}

}

@media only screen and (max-width:600px) and (orientation: landscape) {
  body {
    font-size: 75%;
  }
  .page-img-container {
    height: 100vh;
  }
  /*SVART BAKGRUND SIDRUBRIK */
.headline-container {
  height: 10%;
  width: 20%;
  background: rgba(0, 0, 0, 0.46);
  border-radius: 10px;
  z-index: 1;
  margin-bottom: 10px;
  margin-top: auto;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-headline {
  font-size: 150%;
  margin-top: 1vh;
}
.webinar-container {
  height: auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.webinar-img {
  width: 80vw;
  height: 50vh;
  margin: 2vh;
}
.text-container {
  width: 80%;
  padding: 2vh;
}

.classes-container {
  margin-top: 0vh;
  margin: 1vh;
  height: 250vh;
}

.classes-img-1, .classes-img-2, .classes-img-3 {
height: 20vh;
width: 80vw;
}
}

@media only screen and (min-width:600px) and (orientation: landscape) {
  .headline-container {
    height: 10%;
    width: 30%;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: auto;
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-headline {
    font-size: 200%;
    margin-top: 1vh;
  }

  .webinar-container {
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .webinar-img {
    height: 30%;
  }

  .text-container {
    width: 80%;
    margin: 2vh;
  }

  .classes-container {
    margin: 1vh;
  }

  .classes {
    flex-flow: column nowrap;
    height: auto;
  }

  .class-info-text {
    width: 80%;
    text-align: center;
    margin-top: 3vh;
  }
}

@media only screen and (min-width:768px) and (orientation: portrait) {
  .headline-container {
    height: 10%;
    width: 30%;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: auto;
    padding-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-headline {
    font-size: 200%;
    margin-top: 1vh;
  }

  .webinar-container {
    flex-flow: column nowrap;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }

  .webinar-img {
    height: 30%;
  }

  .text-container {
    width: 80%;
    margin: 2vw;
  }

  .classes-container {
    margin: 1vh;
  }

  .classes {
    flex-flow: column nowrap;
    height: auto;
  }

  .class-info-text {
    width: 80%;
    text-align: center;
    margin-top: 3vh;
  }
}

@media only screen and (min-width:900px) and (orientation: portrait) {
body {
  font-size: 150%;
}

.headline-container {
  height: 20%;
}

.page-headline {
  font-size: 300%;
}

.webinar-container {
  flex-flow: row nowrap;
}

.text-container {
  width: 50%;
  text-align: left;
  padding-left: 2vw;
}

.classes {
  flex-flow: row nowrap;
}

.class-info-text {
  width: 40%;
  margin: 4vw;
  text-align: left;
}
}

@media only screen and (min-width:900px) and (orientation: portrait) {
  body {
    font-size: 150%;
  }
  
  .headline-container {
    height: 20%;
  }
  
  .page-headline {
    font-size: 300%;
  }
  
  .webinar-container {
    flex-flow: row nowrap;
  }
  
  .text-container {
    width: 50%;
    text-align: left;
    padding-left: 2vw;
  }
  
  .classes {
    flex-flow: row nowrap;
  }
  
  .class-info-text {
    width: 40%;
    margin: 4vw;
    padding: 10px;
    text-align: left;
  }
  }

  @media only screen and (min-width:1024px) {
    .headline-container {
      height: 20%;
    }
    .page-headline {
      font-size: 400%;
    }

    .webinar-container {
      flex-flow: row nowrap;
      justify-content: space-evenly;
      padding: 40px 10px 40px 10px;
      height: 50vh;
    }
    .webinar-img {
      height: 70%;
      width: 40%;
    }

    .text-container {
      width: 40%;
    }
    .divider {
      margin: 0px;
    }

    .classes-container {
      flex-flow: column nowrap;
    }
    .classes {
      flex-flow: row nowrap;
    }

    .class-info-text {
      text-align: left;
      width: 40%;
    }
  }