.page-img-container {
    background: url('img/bild2.jpg');
    background-size: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
}
    /*SVART BAKGRUND SIDRUBRIK */
.headline-container {
    height: 20%;
    width: 20%;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.email-container {
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.fa-at {
    color: white;
}

.maps-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.googlemaps {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.googlemaps:hover {
    cursor: pointer;
    animation: maps-hover 0.5s ease-in-out forwards;
}

@keyframes maps-hover {
    to {
        transform: scale(1.1);
    }
  }

.headline {
    font-size: 125%;
    color: #5a4200;
  }
  .start-social-icons-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 50px;
  }

  @media only screen and (max-width: 600px) and (orientation: portrait) {
    .page-img-container {
        margin-top: -30vh;
    }
    
    .headline-container {
        width: 50%;
        height: 10%;
    }

    .page-headline {
        font-size: 150%;
    }

    .email-container {
        text-align: center;
        margin: 2vh;
    }

    .maps-container {
        flex-flow: column nowrap;
        height: 50vh;
        text-align: center;
    }
  }

  @media only screen and (max-width: 600px) and (orientation: landscape) {
      .page-headline {
          font-size: 150%;
      }

      .email-container {
          text-align: center;
          margin: 4vw;
      }
      .maps-container {
          flex-flow: column nowrap;
          height: 100vh;
          text-align: center;
      }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
      .email-container {
          height: 20vh;
      }
      .maps-container {
          height: 50vh;
      }
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
      .page-headline {
          font-size: 150%;
      }
      .email-container {
          margin: 6vw;
          text-align: center;
      }

      .maps-container {
          flex-flow: column nowrap;
          height: 100vh;
          text-align: center;
      }
}

@media only screen and (min-width:768px) and (orientation: portrait) {
    .page-img-container {
        margin-top: -30vh;
    }
    .headline-container {
        height: 10%;
    }
    
    .page-headline {
        font-size: 300%;
    }

    .email-container {
        margin: 4vw;
        text-align: center;
        font-size: 150%;
    }

}
@media only screen and (min-width:768px) and (orientation: landscape) {
    .page-img-container {
        margin-top: -20vh;
    }
    .headline-container {
        height: 10%;
    }
    
    .page-headline {
        font-size: 200%;
    }

    .email-container {
        margin: 4vw;
        text-align: center;
        font-size: 150%;
    }

    .maps-container {
        flex-flow: row nowrap;
        height: 50vh;
    }

}

@media only screen and (min-width:1024px) and (orientation: portrait) {
    .page-img-container {
        margin-top: -30vh;
    }
    .headline-container {
        height: 10%;
    }
    
    .page-headline {
        font-size: 300%;
    }

    .email-container {
        margin: 4vw;
        text-align: center;
        font-size: 150%;
        height: 20vh;
    }

    .email-container {
        height: 10vh;
    }

}
@media only screen and (min-width:1024px) and (orientation: landscape) {
    .page-img-container {
        margin-top: -20vh;
    }
    .headline-container {
        height: 10%;
    }
    
    .page-headline {
        font-size: 200%;
    }

    .email-container {
        margin: 4vw;
        text-align: center;
        font-size: 150%;
    }

    .maps-container {
        flex-flow: row nowrap;
        height: 50vh;
    }

}