body {
  margin: 0;
  padding: 0;
}
/*START-PAGE-CONTAINER*/
.start-page-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

/*NAVBAR*/
.I-logo {
  height: 80px;
}
.I-navbar {
  background-color: white;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-shadow: 11px 14px 38px 3px rgba(0, 0, 0, 0.11);
  padding-bottom: 20px;
}

.I-navbar-link-container {
  margin-right: 0;
  margin-left: auto;
}

.I-navbar-link-container .I-nav-link {
  color: #a18f4e !important;
}

.I-navbar-link-container .I-nav-link:hover {
  color: black !important;
}

/*LINJE AVDELNING*/
.line {
  width: 80%;
  height: 1px;
  background-color: #a18f4e;
  margin: 20px auto 20px auto;
}
